/* TEXT BORDER BACKGROUND COLOR */
.w3-amber, .w3-hover-amber:hover {
  color: "#000 !important";
  background-color: "#ffc107 !important"; }

.w3-aqua, .w3-hover-aqua:hover {
  color: "#000 !important";
  background-color: "#00ffff !important"; }

.w3-blue, .w3-hover-blue:hover {
  color: "#fff !important";
  background-color: "#2196F3 !important"; }

/* Text Color */
.w3-text-amber, .w3-hover-text-amber:hover {
  color: "#ffc107 !important"; }

.w3-text-aqua, .w3-hover-text-aqua:hover {
  color: "#00ffff !important"; }

.w3-text-blue, .w3-hover-text-blue:hover {
  color: "#2196F3 !important"; }

/* Border Color */
.w3-border-amber, .w3-hover-border-amber:hover {
  border-color: "#ffc107 !important"; }

.w3-border-aqua, .w3-hover-border-aqua:hover {
  border-color: "#00ffff !important"; }

.w3-border-blue, .w3-hover-border-blue:hover {
  border-color: "#2196F3 !important"; }

/* SHADOWS */
.w3-container {
  padding: 0.01em 16px; }

.w3-panel {
  padding: 0.01em 16px;
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.w3-example {
  background-color: #f1f1f1;
  padding: 0.01em 16px; }

.w3-code, .w3-codespan {
  font-family: Consolas,"courier new";
  font-size: 16px; }

.w3-code {
  line-height: 1.4;
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word; }

.w3-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%; }

.w3-example, .w3-code {
  margin: 20px 0; }

.w3-card {
  border: 1px solid #ccc; }

.w3-card-2, .w3-example {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.w3-card-6 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.w3-card-8 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.w3-card-16 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.w3-card-24 {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

/* Media Queries */
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
  float: left;
  width: 100%; }

.w3-col.s1 {
  width: 8.33333%; }

.w3-col.s2 {
  width: 16.66666%; }

.w3-col.s3 {
  width: 25.0%; }

.w3-col.s4 {
  width: 33.33333%; }

.w3-col.s5 {
  width: 41.66666%; }

.w3-col.s6 {
  width: 49.99999%; }

.w3-col.s7 {
  width: 58.33333%; }

.w3-col.s8 {
  width: 66.66666%; }

.w3-col.s9 {
  width: 74.99999%; }

.w3-col.s10 {
  width: 83.33333%; }

.w3-col.s11 {
  width: 91.66666%; }

.w3-col.s12, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
  width: 99.99999%; }

@media only screen and (min-width: 601px) {
  .w3-col.m1 {
    width: 8.33333%; }
  .w3-col.m2 {
    width: 16.66666%; }
  .w3-col.m3, .w3-quarter {
    width: 25.0%; }
  .w3-col.m4, .w3-third {
    width: 33.33333%; }
  .w3-col.m5 {
    width: 41.66666%; }
  .w3-col.m6, .w3-half {
    width: 49.99999%; }
  .w3-col.m7 {
    width: 58.33333%; }
  .w3-col.m8, .w3-twothird {
    width: 66.66666%; }
  .w3-col.m9, .w3-threequarter {
    width: 74.99999%; }
  .w3-col.m10 {
    width: 83.33333%; }
  .w3-col.m11 {
    width: 91.66666%; }
  .w3-col.m12 {
    width: 99.99999%; } }

@media only screen and (min-width: 993px) {
  .w3-col.l1 {
    width: 8.33333%; }
  .w3-col.l2 {
    width: 16.66666%; }
  .w3-col.l3, .w3-quarter {
    width: 25.0%; }
  .w3-col.l4, .w3-third {
    width: 33.33333%; }
  .w3-col.l5 {
    width: 41.66666%; }
  .w3-col.l6, .w3-half {
    width: 49.99999%; }
  .w3-col.l7 {
    width: 58.33333%; }
  .w3-col.l8, .w3-twothird {
    width: 66.66666%; }
  .w3-col.l9, .w3-threequarter {
    width: 74.99999%; }
  .w3-col.l10 {
    width: 83.33333%; }
  .w3-col.l11 {
    width: 91.66666%; }
  .w3-col.l12 {
    width: 99.99999%; } }

.w3-content {
  max-width: 980px;
  margin: auto; }

.w3-rest {
  overflow: hidden; }

.w3-hide {
  display: none !important; }

.w3-show-block, .w3-show {
  display: block !important; }

.w3-show-inline-block {
  display: inline-block !important; }

@media (max-width: 600px) {
  .w3-modal-content {
    margin: 0 10px;
    width: auto !important; }
  .w3-modal {
    padding-top: 30px; } }

@media (max-width: 768px) {
  .w3-modal-content {
    width: 500px; }
  .w3-modal {
    padding-top: 50px; } }

@media (min-width: 993px) {
  .w3-modal-content {
    width: 900px; } }

@media screen and (max-width: 600px) {
  .w3-topnav a {
    display: block; }
  .w3-navbar li:not(.w3-opennav) {
    float: none;
    width: 100% !important; }
  .w3-navbar li.w3-right {
    float: none !important; } }

@media screen and (max-width: 600px) {
  .w3-topnav .w3-dropdown-hover .w3-dropdown-content, .w3-navbar .w3-dropdown-click .w3-dropdown-content, .w3-navbar .w3-dropdown-hover .w3-dropdown-content {
    position: relative; } }

@media screen and (max-width: 600px) {
  .w3-topnav, .w3-navbar {
    text-align: center; } }

@media (max-width: 600px) {
  .w3-hide-small {
    display: none !important; } }

@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important; } }

@media (min-width: 993px) {
  .w3-hide-large {
    display: none !important; } }

@media screen and (max-width: 992px) {
  .w3-sidenav.w3-collapse {
    display: none; }
  .w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

@media screen and (min-width: 993px) {
  .w3-sidenav.w3-collapse {
    display: block !important; } }
