@import 'var';
button {
    background-color: $btn-background-color;
    border: $btn-border;
    color: $btn-color;
    padding: $btn-padding;
    text-align: $btn-text-align;
    text-decoration: $btn-text-decoration;
    display: $btn-display;
    font-size: $btn-font-size;
    border-radius: $btn-border-radius;
    border: $btn-border;
}

button:hover {
    background-color: $btn-hover-background-color;
    z-index: -2;
}